.hidden {
  display: none;
}

input[type="text"] {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 2rem;
  height: 2rem;
  border: 0px;
  text-align: center;
  margin-right: 1rem;
  padding: 0 1rem;
  outline: 0;
}

#todo-form input[type="text"] {
  width: 300px;
  padding: 0 1rem;
}

input[type="submit"] {
  height: 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 2rem;
  border: 0px;
  width: 5rem;
  text-align: center;
  text-transform: uppercase;
}

body {
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
